@import 'mixins';
@import 'vars';
@import 'shared';

.logout-form {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;

  & > button[type='submit'] {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: #e8e8e8;
      color: #262626;
      text-decoration: none;
    }
  }
}
