.content {
  margin: 0 auto;
  display: grid;
  min-height: calc(100vh - 72px);
}

.content__wrapper {
  margin: 0 10px;
}

.i-container {
  width: 100%;
}

.i-form {
  margin: 0 auto;
  width: clamp(300px, 468px, 100%);
}

.i-label {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content__wrapper {
    margin: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .content__wrapper {
    margin: 0 60px;
  }
}

.logout-form {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.logout-form > button[type=submit] {
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.logout-form > button[type=submit]:hover {
  background-color: #e8e8e8;
  color: #262626;
  text-decoration: none;
}

